<div class="collection-view">
  <a title="{{ 'collections.general.list_view' | t }}" class="btn btn-default change-view{% unless template contains 'grid' %} active-filter{% endunless %} mr5" data-view="list">
    <i class="fas fa-list"></i>
  </a><a title="Grid view" class="btn btn-default change-view{% if template contains 'grid' %} active-filter{% endif %} ml5 mr5" data-view="grid">
    <i class="fas fa-th-large"></i>
  </a>
</div>

<script>
  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('('+paramName+'=).*?(&|$)');
    var newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    return newUrl;
  }

  $(function() {
    var queryString = window.location.search;
    viewPattern = new RegExp('(view=).*?(&|$)');
    if (queryString.match(viewPattern)) {
      var viewQuery = queryString.match(viewPattern)[0];
      $('.tgl_c li a').each(function() {
        var _href = $(this).attr("href");
        $(this).attr("href", _href + '?' + viewQuery);
      });
    }

    $('.change-view').on('click', function() {
      var view = $(this).data('view'),
          url = document.URL,
          hasParams = url.indexOf('?') > -1;
      if (hasParams) {
        window.location = replaceUrlParam(url, 'view', view);
      } else {
        window.location = url + '?view=' + view;
      }
    });
  });
</script>