{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/rocketfireworks-ca.myshopify.com/pages/configure/194730/edit
{% endcomment %}
{% if page.metafields.custom_fields["banner_subtitle"] != blank %}
  <div class="custom-field custom-field__banner-subtitle custom-field__type--text">
    <h3 class="custom-field--title">Banner Subtitle</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["banner_subtitle"] }}
    </div>
  </div>
{% endif %}