{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/rocketfireworks-ca.myshopify.com/globals/configure/192588/edit
{% endcomment %}
{% if shop.metafields.custom_fields["panel_1_content"] != blank %}
  <div class="custom-field custom-field__panel-1-content custom-field__type--html">
    <h3 class="custom-field--title">Panel 1 Content</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["panel_1_content"] }}
    </div>
  </div>
{% endif %}