{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.announcement' %}
  {% include 'custom_fields.pages.open_status' %}
  {% include 'custom_fields.pages.opening_date' %}
  {% include 'custom_fields.pages.is_seasonal' %}
  {% include 'custom_fields.pages.address' %}
  {% include 'custom_fields.pages.address_comment' %}
  {% include 'custom_fields.pages.phone_number' %}
  {% include 'custom_fields.pages.mon_open_time' %}
  {% include 'custom_fields.pages.mon_close_time' %}
  {% include 'custom_fields.pages.tues_open_time' %}
  {% include 'custom_fields.pages.tues_close_time' %}
  {% include 'custom_fields.pages.wed_open_time' %}
  {% include 'custom_fields.pages.wed_close_time' %}
  {% include 'custom_fields.pages.thu_open_time' %}
  {% include 'custom_fields.pages.thu_close_time' %}
  {% include 'custom_fields.pages.fri_open_time' %}
  {% include 'custom_fields.pages.fri_close_time' %}
  {% include 'custom_fields.pages.sat_open_time' %}
  {% include 'custom_fields.pages.sat_close_time' %}
  {% include 'custom_fields.pages.sun_open_time' %}
  {% include 'custom_fields.pages.sun_close_time' %}
  {% include 'custom_fields.pages.custom_hours' %}
  {% include 'custom_fields.pages.additional_info' %}
  {% include 'custom_fields.pages.include_attraction_panel' %}
  {% include 'custom_fields.pages.background_image' %}
  {% include 'custom_fields.pages.banner_title' %}
  {% include 'custom_fields.pages.banner_subtitle' %}
  {% include 'custom_fields.pages.subtitle_before_title' %}
  {% include 'custom_fields.pages.banner_details' %}
  {% include 'custom_fields.pages.details_at_the_beginning' %}
  {% include 'custom_fields.pages.details_at_the_end' %}
  {% include 'custom_fields.pages.cta_text' %}
  {% include 'custom_fields.pages.cta_button_1' %}
  {% include 'custom_fields.pages.cta_button_2' %}
  {% include 'custom_fields.pages.cta_button_3' %}
</div>