<div class="product-confirm-popup toggle-hide">
  <div class="confirm-popup-wrapper container" role="dialog" aria-modal="true" aria-labelledby="ConfirmPopupMessage" tabindex="-1">

    <button class="popup-close" aria-label="Close"><i class="fas fa-times"></i></button>

    <div class="popup-wrapper">
    </div>

    <a href="/cart" class="popup-cta-link">View cart (<span class="product-count">{{ cart.item_count }}</span>)</a>

  </div>
</div>