<div class="promo-bar">
  <div class="promo-bar-container">
    <div class="bonusRewards-progress">
      <div class="bonusRewards-bar"></div>
    </div>
    {% if section.settings.promo_bar_link != blank %}
    <a href="{{section.settings.promo_bar_link}}">
    {% endif %}
    
      {{ section.settings.promo_bar_text }}
    
    {% if section.settings.promo_bar_link != blank %}
    </a>
    {% endif %}
  </div>
</div>
