{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.shop.background_image' %}
  {% include 'custom_fields.shop.title' %}
  {% include 'custom_fields.shop.subtitle' %}
  {% include 'custom_fields.shop.details' %}
  {% include 'custom_fields.shop.button_1' %}
  {% include 'custom_fields.shop.button_1_icon' %}
  {% include 'custom_fields.shop.button_2' %}
  {% include 'custom_fields.shop.button_2_icon' %}
  {% include 'custom_fields.shop.button_3' %}
  {% include 'custom_fields.shop.button_3_icon' %}
  {% include 'custom_fields.shop.panel_1_title' %}
  {% include 'custom_fields.shop.panel_1_content' %}
  {% include 'custom_fields.shop.panel_2_title' %}
  {% include 'custom_fields.shop.panel_2_content' %}
  {% include 'custom_fields.shop.panel_3_title' %}
  {% include 'custom_fields.shop.panel_3_content' %}
  {% include 'custom_fields.shop.professional_display_image' %}
  {% include 'custom_fields.shop.professional_display_content' %}
  {% include 'custom_fields.shop.professional_display_button' %}
  {% include 'custom_fields.shop.end_line' %}
</div>