{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/rocketfireworks-ca.myshopify.com/pages/configure/160467/edit
{% endcomment %}
{% if page.metafields.custom_fields["announcement"] != blank %}
  <div class="custom-field custom-field__announcement custom-field__type--html">
    <h3 class="custom-field--title">Announcement</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["announcement"] }}
    </div>
  </div>
{% endif %}