{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/rocketfireworks-ca.myshopify.com/pages/configure/172088/edit
{% endcomment %}
{% if page.metafields.custom_fields["open_status"] != blank %}
  <div class="custom-field custom-field__open-status custom-field__type--text-list">
    <h3 class="custom-field--title">Open Status</h3>
    <div class="custom-field--value">  
      {{ page.metafields.custom_fields["open_status"] }}
    </div>
  </div>
{% endif %}