{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/rocketfireworks-ca.myshopify.com/pages/configure/194734/edit
{% endcomment %}
{% if page.metafields.custom_fields["cta_text"] != blank %}
  <div class="custom-field custom-field__cta-text custom-field__type--text">
    <h3 class="custom-field--title">CTA Text</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["cta_text"] }}
    </div>
  </div>
{% endif %}