<div class="col-md-3 col-sm-4">
  <div class="importantInfoCart">
    <h4>IMPORTANT DELIVERY INFO</h4>
    <div class="infoWrap">
      <h5>We do not ship to PO Boxes.</h5>
      <p>If you do not have a physical address. 
      we can ship to a nearby 
      Hold for Pick Up location</p>
    </div>
    <div class="infoWrap">
      <h5>For Apartments:</h5>
      <p>please inform us if you have a 
      Buzzer or Entry Code</p>
    </div>
    <div class="infoWrap">
      <h5>ADULT SIGNATURE REQUIRED</h5>
      <p>For Fireworks, Sparklers & Smoke Grenades, 
        we require an adult signature upon delivery</p>
    </div>
  </div>
  <div class="sidebar cartTrustBadges">
    <div class="trustBadge">
      <i><img class="leaficon" src="{{ 'cart-leaficon.png' | asset_url }}"></i>
      <p class="badgeTitle">Free Shipping Across Canada</p>
      <p class="badgeDescription">On orders $99+</p>
      <p class="badgeSpecialText">(some Exceptions apply)</p>
    </div>
    <div class="trustBadge">
      <i class="fa fa-truck"></i>
      <p class="badgeTitle">Fast Shipping</p>
      <p class="badgeDescription">Your order ships within 24 hours</p>
    </div>
    <div class="trustBadge">
      <i class="fa fa-lock"></i>
      <p class="badgeTitle">Quick & Secure Checkout</p>
      <p class="badgeDescription">With 256 bit encryption </p>
    </div>
    <div class="trustBadge">
      <i class="fa fa-phone"></i>
      <p class="badgeTitle">Got Questions?</p>
      <p class="badgeDescription">Give us a call at 888.502.5278 </p>
    </div>
  </div>
</div>