.usf-has-container .module {
  max-width: 1260px;
}

.usf-sr-empty {
  font-size: 16px;
}

.usf-add-to-cart-btn.usf-visible {
  z-index: 2;
}

button.usf-add-to-cart-btn:hover {
  color: #000;
}

.usf-has-container .jdgm-preview-badge span {
  font-size: 12px;
}

.usf-results.usf-list {
  padding-left: 30px;
}

.usf-filters-horz .usf-results.usf-grid,
.usf-filters-horz .usf-results.usf-list,
.usf-mobile .usf-results.usf-grid {
  padding-left: 0;
}

.usf-sr-empty {
  width: 100%;
}
/*skeleton*/
.list-view-item.usf-skeleton .product-price__price {
  float: right;
}

.usf-inherit {
  position: inherit !important;
}
.usf-results.usf-grid {
  display: flex;
  flex-wrap: wrap;
}
.usf-add-to-cart-btn.usf-visible {
  z-index: 3;
}
.product-block.hover-info .usf-vendor {
  position: absolute;
  z-index: 5;
  left: 10px;
  right: 10px;
  opacity: 0;
  -webkit-transition: opacity 200ms, margin 200ms ease-in-out;
  -ms-transition: opacity 200ms, margin 200ms ease-in-out;
  -moz-transition: opacity 200ms, margin 200ms ease-in-out;
  -o-transition: opacity 200ms, margin 200ms ease-in-out;
  transition: opacity 200ms, margin 200ms ease-in-out;
}

.usf-has-container .product-list .product-block:hover .usf-vendor {
  opacity: 1;
  top: 60%;
}

.usf-has-container .list-view-item__image-wrapper .product-label {
  position: absolute;
  left: 0;
}
.usf-preview .product-label {
  position: absolute;
  left: 10px;
  top: 10px;
}

.usf-preview__title {
  text-align: left;
}
.usf-has-container .list-view-item__image-wrapper .product-label {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 10px;
}
.usf-mobile .product-block {
  width: 100% !important;
}
.usf-filters-horz .product-list {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.usf-dropdown {
  padding: 5px 10px;
}

/*new css*/
.usf-has-no-facets .usf-results.usf-list {
  padding-left: 0;
}

body:not(.usf-collections-page) .usf-sr-inputbox {
  display: none;
}
.usf-mobile .usf-results.usf-grid {
  margin-left: 0;
}

.usf-sr-summary .pretty-select {
  white-space: nowrap;
}

#usf_container .bulk-pricing {
  text-align: center;
}

/* Mobile Filter Sidebar */
.usf-sr-config {
  border-top: none;
}

.usf-mobile .usf-sr-config {
  padding: 0;
}
/* Filter Dropdown */
.usf-dropdown {
  border: none;
}

.usf-mobile .usf-sr-config {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
}

.usf-mobile .usf-sr-config .usf-dropdown {
  border: none;
  max-width: 30%;
  justify-content: space-around;
}

.usf-mobile .usf-filters {
  border: none;
  width: 30%;
  color: #555;
}

.usf-mobile .usf-sr-summary {
  opacity: 1;
  text-align: left;
  font-size: 1em;
}

.usf-mobile .usf-footer div {
  background-color: #16142c;
}

/* Mobile Filter Menu */
.usf-mobile .usf-header {
  flex-direction: column;
  align-items: initial;
}

.usf-mobile .usf-body {
  padding-top: 25px;
}

.usf-mobile .usf-facets .usf-close {
  left: initial;
  right: 0;
  background-color: #16142c;
}

.usf-mobile .usf-header .usf-all, .usf-mobile .usf-header .usf-clear {
  margin-top: 20px;
  color: #637381;
}

@media (max-width: 480px) {
  .usf-mobile .usf-sr-config .usf-dropdown {
    max-width: 45%;
  }

  .usf-mobile .usf-filters {
    width: 45%;
  }
}